file-storage:
  enabled: true
  type: local
  local:
    base-path: ./tmp/files

swagger:
  enabled: true

security:
  cors:
    enabled: true
    allowed-origin-patterns:
      - "http://localhost:*"
      - "http://127.0.0.1:*"
